blinker
certifi
charset-normalizer
click
contourpy
cycler
dash
DateTime
filelock
Flask
flask-cors
fonttools
fsspec
geopandas
idna
importlib_metadata
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
narwhals
nest-asyncio
networkx
numpy
pytorch
pandas
plotly
pyogrio
pyparsing
pyproj
python-dateutilpost0
pytz
requests
retrying
scikit-learn
scipy
setuptools
shapely
six
statsmodels
stringcase
sympy
threadpoolctl
torch
triton
typing_extensions
tzdata
urllib3
Werkzeug
zipp
zope.interface
ollama
